{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="jumbotron">
  {% with messages = get_flashed_messages()%}
  {% if messages %}

  {% for message in messages%}
  <div class = "alert alert-success alert-dismissable" role = 'alert'>
    <button type="button" class="close" data-dismiss ="alert" aria-label="close">
      <span aria-hidden="true">x</span>
    </button>
    {{message}}
  </div>
  {%endfor%}
  {%endif%}
  {%endwith%}

  <h2>Transactions downloaded successfully</h2>
    	<form action = "/" method = "GET">
  		<button type = "submit" class = "btn btn-secondary">Close</button>
  	</form>
</div>

{% endblock %}
