{% extends 'layout.html' %}
{% block content %}


<form action="/splitwise" method="POST">

	<div class="form-group">
		<label>Date From:</label>
			<input type="date" class="form-control" name="Get_Trans_Date_From" value='' required>
	</div>
	<div class="form-group">
		<label>Date To:</label>
			<input type="date" class="form-control" name="Get_Trans_Date_To" value='' required>
	</div>


<table>
	<tr>
		<col width = "1000px" />
		<col width = "100px" />
	<td>
	<div class = "form-group">
		<button class = "btn btn-primary" type = "submit"> Insert Data</button>
	</td>

	<td>
	<form action = "/insert_split" method = "GET">
		<button type = "submit" class = "btn btn-secondary">Close</button>
	</form>
	</td>
	</tr>
</table>
</form>



{% endblock content %}
